<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
						<tr>
				<td>权益名称</td>
				<td>${model.name}</td>
			</tr>
						<tr>
				<td>会员图标</td>
				<td>${model.picture}</td>
			</tr>
						<tr>
				<td>会员名称</td>
				<td>${model.membertypes}</td>
			</tr>
						<tr>
				<td>权益概述</td>
				<td>${model.describe}</td>
			</tr>
						<tr>
				<td>排序号</td>
				<td>${model.sort}</td>
			</tr>
						<tr>
				<td>更新时间</td>
				<td>${model.update_time}</td>
			</tr>
						<tr>
				<td>更新人</td>
				<td>${model.update_id}</td>
			</tr>
						<tr>
				<td>创建时间</td>
				<td>${model.create_time}</td>
			</tr>
						<tr>
				<td>创建者</td>
				<td>${model.create_id}</td>
			</tr>
		
		<tr>
			<td colspan="2" align="center">
			<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
			</td>
		</tr>
	</table>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>